<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phonbopit.learnandroid.yamba" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.phonbopit.learnandroid.yamba.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SettingActivity -->
        <activity
            android:name="com.phonbopit.learnandroid.yamba.SettingActivity"
            android:label="@string/action_settings" />

        <!-- StatusActivity -->
        <activity
            android:name="com.phonbopit.learnandroid.yamba.StatusActivity"
            android:label="@string/title_activity_status" >

            <intent-filter>
                <action android:name="com.phonbopit.learnandroid.yamba.action.tweet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.phonbopit.learnandroid.yamba.StatusProvider"
            android:name=".StatusProvider"
            android:exported="false"/>

        <!-- Register Service -->
        <service android:name=".RefreshService" />
    </application>

</manifest>
